             Python Pandas Essentials for Data Science

In [10]:
import pandas as pd
import matplotlib.pyplot as plt

print(pd.__version__)

1.5.1

In [1]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
#Create a simple Pandas Series from a list:

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
#Create a simple Pandas Series from a dictionary:

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [7]:
#
# Create a DataFrame from two Series:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [8]:
#Add a list of names to give each row a name:

import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [9]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [12]:
import numpy as np 
import pandas as pd

In [13]:
x = np.random.randint(10,50,size=6)

In [14]:
x

array([34, 15, 28, 33, 48, 22])

In [15]:
y = np.random.randint(10,50,size=6)
z= np.random.randint(10,50,size=6)
t = np.random.randint(10,50,size=6)

In [16]:
mydict = {'val1':x ,'val2':y ,'val3':z,'val4':t}
mydict

{'val1': array([34, 15, 28, 33, 48, 22]),
 'val2': array([25, 42, 20, 12, 29, 26]),
 'val3': array([24, 23, 39, 32, 49, 26]),
 'val4': array([33, 39, 10, 43, 15, 37])}

In [17]:
df =pd.DataFrame(mydict)
df

   val1  val2  val3  val4
0    34    25    24    33
1    15    42    23    39
2    28    20    39    10
3    33    12    32    43
4    48    29    49    15
5    22    26    26    37

In [20]:
df.head(3)

   val1  val2  val3  val4
0    34    25    24    33
1    15    42    23    39
2    28    20    39    10

In [21]:
df.tail(3)

   val1  val2  val3  val4
3    33    12    32    43
4    48    29    49    15
5    22    26    26    37

In [22]:
df.columns

Index(['val1', 'val2', 'val3', 'val4'], dtype='object')

In [27]:
df.columns =["age","height","marks","dob"]

In [28]:
df

   age  height  marks  dob
0   34      25     24   33
1   15      42     23   39
2   28      20     39   10
3   33      12     32   43
4   48      29     49   15
5   22      26     26   37

In [29]:
df.values

array([[34, 25, 24, 33],
       [15, 42, 23, 39],
       [28, 20, 39, 10],
       [33, 12, 32, 43],
       [48, 29, 49, 15],
       [22, 26, 26, 37]])

In [30]:
type(df.values)

numpy.ndarray

In [32]:
type(df)

pandas.core.frame.DataFrame

In [33]:
df.shape

(6, 4)

In [34]:
df.ndim

2

In [35]:
df.size

24

In [36]:
df.sample

<bound method NDFrame.sample of    age  height  marks  dob
0   34      25     24   33
1   15      42     23   39
2   28      20     39   10
3   33      12     32   43
4   48      29     49   15
5   22      26     26   37>

In [37]:
df.all

<bound method NDFrame._add_numeric_operations.<locals>.all of    age  height  marks  dob
0   34      25     24   33
1   15      42     23   39
2   28      20     39   10
3   33      12     32   43
4   48      29     49   15
5   22      26     26   37>

In [38]:
df.abs

<bound method NDFrame.abs of    age  height  marks  dob
0   34      25     24   33
1   15      42     23   39
2   28      20     39   10
3   33      12     32   43
4   48      29     49   15
5   22      26     26   37>